:root {
    --primary: darkred;
    --primary-dark: brown;
    --primary-70: rgba(153, 0, 18, 0.7);
    --primary-50: rgba(153, 0, 18, 0.5);
    --primary-30: rgba(153, 0, 18, 0.3);
    --primary-10: rgba(153, 0, 18, 0.1);
    --logo: #brown;
    --sidebar-icon: #fff;
}

.bg-grad-sidebar {
    background: darkred;
}
