:root {
    --primary: rgb(0, 96, 186, 1); /* Primary Blue */
    --primary-dark: rgb(0, 76, 148, 1); /* Darker shade for contrast */
    --primary-70: rgba(0, 96, 186, 0.7);
    --primary-50: rgba(0, 96, 186, 0.5);
    --primary-30: rgba(0, 96, 186, 0.3);
    --primary-10: rgba(0, 96, 186, 0.1);
    --secondary: #E2E300; /* Secondary Yellow */
    --logo: #004C94; /* Darker blue for logo */
    --sidebar-icon: #A5C0E0; /* Lighter blue tone for icons */
  }

  .bg-grad-sidebar {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(0, 96, 186, 1)),
      to(#004C94) /* Darker blue for depth */
    );

    background-image: linear-gradient(
      0deg,
      rgb(0, 96, 186, 1),
      rgb(0, 76, 148)
    );
  }
