:root {
    --primary: #007acc;
    --primary-dark: #004a7c;
    --primary-70: rgba(0, 122, 204, 0.7);
    --primary-50: rgba(0, 122, 204, 0.5);
    --primary-30: rgba(0, 122, 204, 0.3);
    --primary-10: rgba(0, 122, 204, 0.1);
    --logo: #1f1f1f;
    --sidebar-icon: #1f1f1f;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            from(#007acc),
            to(#004a7c));
    background-image: linear-gradient(0deg,
            #007acc,
            #004a7c);
}
