:root {
  --primary: #00DC82;
  --primary-dark: #001E26;
  --primary-70: #00DC52;
  --primary-50: #00DC50;
  --primary-30: #00a000;
  --primary-10: #005000;
  --logo: #005000;
  --sidebar-icon: #fff;
}

.bg-grad-sidebar {
  background:#002000;
}
