:root {
  --primary: #2A9190;
  --primary-dark: #2A8192;
  --primary-70: #19CBB1;
  --primary-50: #1ADCC9;
  --primary-30: #60DAF1;
  --primary-10: #fff;
  --logo: #303030;
  --sidebar-icon: #fff;
}

.bg-grad-sidebar{
  background:#2A8192;
}

.h-header.px-view{
    background: #1ADCC9;
}
